#cart_total_checkout .table-bordered tbody > tr > td{
    width: 30% !important;
    text-align: center;
    padding: 15px 0;
    font-size: 13px;
    text-transform: capitalize;
}

.logo_img{
    height: 60px;
}

.navbar-default .navbar-brand > img {
    margin-top: -20px;
}

.item_holder .product_img{
    height: 200px !important;
}

.blog-item .post_img{
    height: 210px !important;
}

.blog-item .post_img2{
    height: 410px !important;
    width: 100%;
}

.blog-item2 .blog-desc:after {
    position: absolute;
    bottom: 0;
    left: 0;
    bottom: 0;
    width: 0px;
    height: 0px;
    background-color: #1ab394;
    content: "";
    -moz-transition: width 0.4s;
    -o-transition: width 0.4s;
    -webkit-transition: width 0.4s;
    transition: width 0.4s;
}